<a href="https://colab.research.google.com/github/Gunlok28/Basic-Python-/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

System Specifications

In [6]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2200.162
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4400.32
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2200.162
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4400.32
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [7]:
!cat /proc/meminfo

MemTotal:       13290472 kB
MemFree:         9266220 kB
MemAvailable:   12412540 kB
Buffers:          340016 kB
Cached:          2996944 kB
SwapCached:            0 kB
Active:          1116476 kB
Inactive:        2664100 kB
Active(anon):       1800 kB
Inactive(anon):   444164 kB
Active(file):    1114676 kB
Inactive(file):  2219936 kB
Unevictable:           4 kB
Mlocked:               4 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               460 kB
Writeback:             0 kB
AnonPages:        441380 kB
Mapped:           302044 kB
Shmem:              2344 kB
KReclaimable:     105616 kB
Slab:             140404 kB
SReclaimable:     105616 kB
SUnreclaim:        34788 kB
KernelStack:        4496 kB
PageTables:         6820 kB
SecPageTables:         0 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6645236 kB
Committed_AS:    2087436 kB
VmallocTotal:   34359738367 kB
VmallocUsed:       10736 kB
VmallocChunk:          0 kB
Percpu:             1080 kB
HardwareCorrupted:     0 kB
AnonHugePages:      8192 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
Unaccepted:            0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       62264 kB
DirectMap2M:     3080192 kB
DirectMap1G:    12582912 kB

# Installing Libraries

In [8]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("/content/boston.csv")
df

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [11]:
!ls

boston.csv  sample_data

Programming Languages used for ML
1. Python
2. R

#Print Fuction
## It is shows output of the commond

In [12]:
print("My Name is Gunesh")

print(8)

print("I am learing Python" + " 60 hours Course")

print(8+100)

My Name is Gunesh
8
I am learing Python 60 hours Course
108

# BAsic data types

1. Intiger

2. Float

3. String

4. Boolean

5. Complex

In [13]:
type(8)

int

In [14]:
type(0.5)

float

In [15]:
type("Gunesh")

str

In [22]:
c = 1 + 3j
print(c)
type(c)

(1+3j)

complex

In [24]:
a = True
print(a)
type(a)

True

bool

In [25]:
b = False
print(b)
type(b)

False

bool

In [28]:
C = 3 > 7
print(C)
type(C)

False

bool

In [29]:
D = 3 < 7
print(D)
type(D)

True

bool

# Constrants & Variables

In [16]:
Superhero = " Iornman"
print(Superhero)

 Iornman

# Input Fuction

In [17]:
No1 = input("Enter 1st No.: ")
No2 = input("Enter 2nd No.: ")

Enter 1st No.: 12
Enter 2nd No.: 23

In [18]:
No1 = int(input("Enter 1st No.: "))
No2 = int(input("Enter 2nd No.: "))

No3 = No1+No2

print(No3)

Enter 1st No.: 12
Enter 2nd No.: 23
35

In [19]:
# Changing the data type int to float
num = 178
print(float(num))

178.0

In [23]:
# Changing the data type to float to int
x = 10.1
print(int(x))

10

# Slicing

In [31]:
Var = ("Hello"*5)
Var

'HelloHelloHelloHelloHello'

In [33]:
Var_1 = ("Programming") # in python numbers are count as 0 1 2 3 4 5 6 7 8 9 10 .... so on
print(Var_1[1:7])

rogram

In [36]:
# Step Size
Var_1 = ("Programming")
print(Var_1[1:11:3])

rrmg

# String Concatination

In [45]:
Name = "Gunesh"
Surname = "Upadhye"
Age = "35"
print("My name is", Name + " my Surname is", Surname + " and I'm ", Age,"old.")

print(Name + Surname + Age)

My name is Gunesh my Surname is Upadhye and I'm  35 old.
GuneshUpadhye35

# Type of Object

# Immutable Object
1. String
2. Float
3. Intiger
4. Boolan
5. Tupple


# Mutable Object
1. List
2. Set
3. Dictionary

# List
## List should be included in Square Bracket "[ ]"
## List can have multiple data type

In [48]:
L1 = [1,2,3,4,5,6,7,8,9,10]

print(L1)

type(L1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list

In [52]:
L2 = [28, 0.8, 1988, "Aug", "Karjat"]
print(L2)

type(L2)

[28, 0.8, 1988, 'Aug', 'Karjat']

list

In [54]:
# List are Mutable or Changeable

L3 = [28, 0.8, 1988, "Aug", "Karjat"]
L3.append(9)
print(L3)

[28, 0.8, 1988, 'Aug', 'Karjat', 9]